Clear-PowerShellForensics.ps1
Clear-PowerShellLogs.ps1
Create-CheatTest.ps1
FALSE_POSITIVE_README.md
Find-CyzLocation.ps1
Find-Lockout-Simple.ps1
Find-LockoutKey.ps1
IMPROVEMENTS_V2.md
REMOVE_TIMER_SERVICE.md
Test-CheatDetection.ps1
Test-CreateLockout.ps1
Test-LockoutMechanism.ps1
Test-RegistryLock.ps1
Test-TriggerDetection.ps1
Test-Webhook-Simple.ps1
Test-Webhook.ps1
FIX_AUDIO_ISSUES.md
ICON.png
